* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}

nav {
    display: flex;
    gap: 103px;
}

header {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none ;
    display: flex;
    gap: 67px;
    color: #AEAEAC;
    font-family: "Inria Sans", sans-serif;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
}

nav ul li a {
    display: block; /* todos os links ocupam a área do li */
    text-decoration: none;
    color: inherit; /* herda a cor do li */
    font-family: inherit;
    font-size: inherit;
}

li:hover {
    color: #F7FF00;
    text-decoration: underline;
}


.container {
    margin: 0 auto;     /* centraliza no meio */
    padding: 0 100px;    /* espaçamento lateral */
}

.brand {
    color: #F7FF00;
    text-decoration: none;
    font-family: "Jaini", system-ui;
    font-size: 60px;
}

.menu-logo {
    margin-right: 108px;
    display: flex;
    align-items: center;
}

.menu-logo img {
    padding-right: 15px;
}

#menu-button {
    display: inline-block;
    text-decoration: none;
    color: #151515;
    background-color: #F7FF00;
    border-radius: 20px;
    padding: 15px;
    font-family: "Inria Sans", sans-serif;
    font-size: 30px;
}

#menu-button:hover,
#saiba-mais:hover {
    background-color: #fffb00;
}

h1 {
    font-family: "Fjalla One", sans-serif;
    color: #FFFFFF;
    font-size: 80px;
}

h2 {
    font-family: "Fjalla One", sans-serif;
    color: #AEAEAC;
    font-size: 25px;
    margin-top: 30px;
}

#saiba-mais {
    background-color: #F7FF00;
    color: #151515;
    font-family: "Inria Sans", sans-serif;
    font-size: 40px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}


#play {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3C3C3C;
    border: none;
    display: flex;               /* adiciona flex */
    align-items: center;         /* centraliza vertical */
    justify-content: center;     /* centraliza horizontal */
    cursor: pointer;
}


#play #triangulo {
    width: 0;
    height: 0;
    border-left: 20px solid #ff0;  /* amarelo */
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#play:hover {
    background-color: #525252
}

#link-video {
    font-family: "Fjalla One", sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}

.texto {
    margin-top: 103px;
    float: left;
    width: 40%;
}

.imagem {
    float: right;
    width: 57%;
}

#link-video:hover {
    color: #e9e9e9;
}

.hamburger {
    display: none;
}


@media (max-width: 768px) {
    
    
}