* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}

nav {
    display: flex;
    gap: 103px;
}

header {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none ;
    display: flex;
    gap: 67px;
    color: #AEAEAC;
    font-family: "Inria Sans", sans-serif;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
}

nav ul li a {
    display: block; /* todos os links ocupam a área do li */
    text-decoration: none;
    color: inherit; /* herda a cor do li */
    font-family: inherit;
    font-size: inherit;
}

li:hover {
    color: #F7FF00;
    text-decoration: underline;
}


.container {
    margin: 0 auto;     /* centraliza no meio */
    padding: 0 100px;    /* espaçamento lateral */
}

.brand {
    color: #F7FF00;
    text-decoration: none;
    font-family: "Jaini", system-ui;
    font-size: 60px;
}

.menu-logo {
    margin-right: 108px;
    display: flex;
    align-items: center;
}

.menu-logo img {
    padding-right: 15px;
}

.menu-button {
    display: inline-block;
    text-decoration: none;
    color: #151515;
    background-color: #F7FF00;
    border-radius: 20px;
    padding: 15px;
    font-family: "Inria Sans", sans-serif;
    font-size: 30px;
}

.menu-button:hover {
    background-color: #fffb00;
}

